<div class="layout-top">
    <div class="mlogo icon-logo2"></div>
    <div class="sects">
        <div class="sect">Home</div>
        <div class="sect">Demo</div>
        <div class="sect">Tutorial</div>
        <div class="sect">Documentation</div>
        <div class="sect">Download</div>
        <div class="sect">Extension</div>
        <div class="sect">Contact</div>
        <div class="sect">Forum</div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>