@import '../../assets/scss/common.scss';

.layout-top {
    height: 67px;

    .bgc {
        background-color: #2d3e50;
        position: fixed;
        height: 67px;
        width: 100%;
        z-index: -1;
    }

    .container {
        width: 1050px;
        margin: auto;

        .mlogo {
            float: left;
            color: #fff;
            margin: 9px 0;
        }

        .sects {
            float: right;
            color: #fff;

            .sect {
                float: left;
                margin: 23px 14px;
                font-size: 1.02em;
                letter-spacing: -1px;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}