@import './icons.scss';

// 图片引用的基础路径
$basePath: './';

// 图标
.icon {
    display: inline-block;
    vertical-align: middle;
}

.icon-logo2 {
    @include sprite($logo2);
}

.icon-much-less {
    @include sprite($much-less);
}

.icon-items {
    @include sprite($items);
}

.icon-item {
    @include sprite($item);
}

.icon-expanded {
    @include sprite($expanded);
}

.icon-expandable {
    @include sprite($expandable);
}

.icon-close {
    @include sprite($close);
}