<div class="layout-left">
    <div class="title">
        <div class="name">Plugins</div>
        <i class="icon icon-much-less"></i>
        <div class="clear"></div>
    </div>
    <v-scrollbar classes="tree-body" :speed=100 theme="light">
        <div class="texst">asdfghjkl;</div>
        <div class="texst">asdfghjkl;</div>
        <div class="texst">asdfghjkl;</div>
        <div class="texst">asdfghjkl;</div>
        <div class="texst">asdfghjkl;</div>
        <div class="texst">asdfghjkl;</div>
        <div class="texst">asdfghjkl;</div>
        <div class="texst">asdfghjkl;</div>
        <div class="texst">asdfghjkl;</div>
        <div class="texst">asdfghjkl;</div>
        <div class="texst">asdfghjkl;</div>
        <div class="texst">asdfghjkl;</div>
        <div class="texst">asdfghjkl;</div>
        <div class="texst">asdfghjkl;</div>
        <div class="texst">asdfghjkl;</div>
        <div class="texst">asdfghjkl;</div>
        <div class="texst">asdfghjkl;</div>
        <div class="texst">asdfghjkl;</div>
        <div class="texst">asdfghjkl;</div>
        <div class="texst">asdfghjkl;</div>
        <div class="texst">asdfghjkl;</div>
        <div class="texst">asdfghjkl;</div>
        <div class="texst">asdfghjkl;</div>
        <div class="texst">asdfghjkl;</div>
        <div class="texst">asdfghjkl;</div>
        <div class="texst">asdfghjkl;</div>
        <div class="texst">asdfghjkl;</div>
        <div class="texst">asdfghjkl;</div>
        <div class="texst">asdfghjkl;</div>
        <div class="texst">asdfghjkl;</div>
        <div class="texst">asdfghjkl;</div>
        <div class="texst">asdfghjkl;</div>
        <div class="texst">asdfghjkl;</div>
        <div class="texst">asdfghjkl;</div>
        <div class="texst">asdfghjkl;</div>
        <div class="texst">asdfghjkl;</div>
        <div class="texst">asdfghjkl;</div>
        <div class="texst">asdfghjkl;</div>
        <div class="texst">asdfghjkl;</div>
        <div class="texst">asdfghjkl;</div>
        <div class="texst">asdfghjkl;</div>
        <div class="texst">asdfghjkl;</div>
        <div class="texst">asdfghjkl;</div>
        <div class="texst">asdfghjkl;</div>
        <div class="texst">asdfghjkl;</div>
        <div class="texst">asdfghjkl;</div>
        <div class="texst">asdfghjkl;</div>
        <div class="texst">asdfghjkl;</div>
        <div class="texst">asdfghjkl;</div>
    </v-scrollbar>
    <div class="clear"></div>
</div>