.clear {
    clear: both;
}

body {
    margin: 0;
    font-family: Microsoft Yahei;

    #content {
        background-image: url('../../assets/images/mainStruc.png');
        height: 100vh;
    }
}