<div class="tree">
    <div class="name"
        :tagId="model.id"
        :class="{item: !isFolder}"
        @click="clickNode">
        <div v-for="i in depth" class="spc-blc"></div>
        <i class="icon" :class="{
            'icon-expanded': isFolder && open,
            'icon-expandable': isFolder && !open
        }"></i>
        <i class="icon" :class="isFolder ? 'icon-items' : 'icon-item' "></i>
        <span>{{ model.name }}</span>
        <span v-if="selected">selected</span>
    </div>
    <div v-show="open" v-if="isFolder">
        <tree v-for="cel in model.children"
            :pmodel="cel"
            :pdepth="depth + 1"
            @selected="selectedNode"></tree>
    </div>
</div>