.tree {

    .name {
        cursor: pointer;
        font-size: 14px;

        &.item {
            color: rgb(19, 77, 165);
            font-size: 13px;
        }

        &.selected {
            color: #de2c3b;
            background-color: #cce6ff;
        }

        &:hover {
            background-color: #e6e6e6;
        }

        span:hover {
            color: #de2c3b;
        }

        .spc-blc {
            height: 10px;
            width: 30px;
            float: left;
        }
    }
}
